@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-blue: #3584e4;
  --vp-c-blue-light: #62a0ea;
  --vp-c-blue-lighter: #99c1f1;
  --vp-c-blue-dark: #1c71d8;
  --vp-c-blue-darker: #1a5fb4;
  --vp-c-blue-dimm-1: rgba(53, 132, 228, 0.05);
  --vp-c-blue-dimm-2: rgba(53, 132, 228, 0.2);
  --vp-c-blue-dimm-3: rgba(53, 132, 228, 0.5);

  --vp-c-green: #33d17a;
  --vp-c-green-light: #57e389;
  --vp-c-green-lighter: #8ff0a4;
  --vp-c-green-dark: #2ec27e;
  --vp-c-green-darker: #26a269;
  --vp-c-green-dimm-1: rgba(51, 209, 122, 0.05);
  --vp-c-green-dimm-2: rgba(51, 209, 122, 0.2);
  --vp-c-green-dimm-3: rgba(51, 209, 122, 0.5);

  --vp-c-yellow: #f6d32d;
  --vp-c-yellow-light: #f8e45c;
  --vp-c-yellow-lighter: #f9f06b;
  --vp-c-yellow-dark: #f5c211;
  --vp-c-yellow-darker: #e5a50a;
  --vp-c-yellow-dimm-1: rgba(246, 211, 45, 0.05);
  --vp-c-yellow-dimm-2: rgba(246, 211, 45, 0.2);
  --vp-c-yellow-dimm-3: rgba(246, 211, 45, 0.5);

  --vp-c-orange: #ff6600;
  --vp-c-orange-light: #ff8533;
  --vp-c-orange-lighter: #ff9966;
  --vp-c-orange-dark: #e65c00;
  --vp-c-orange-darker: #cc5200;
  --vp-c-orange-dimm-1: rgba(255, 102, 0, 0.05);
  --vp-c-orange-dimm-2: rgba(255, 102, 0, 0.2);
  --vp-c-orange-dimm-3: rgba(255, 102, 0, 0.5);

  --vp-c-red: #e01b24;
  --vp-c-red-light: #ed333b;
  --vp-c-red-lighter: #f66151;
  --vp-c-red-dark: #c01c28;
  --vp-c-red-darker: #a51d2d;
  --vp-c-red-dimm-1: rgba(224, 27, 36, 0.05);
  --vp-c-red-dimm-2: rgba(224, 27, 36, 0.2);
  --vp-c-red-dimm-3: rgba(224, 27, 36, 0.5);
}

:root {
  --vp-c-brand: #1a5fb4;
  --vp-c-brand-light: #1c71d8;
  --vp-c-brand-lighter: #3584e4;
  --vp-c-brand-lightest: #62a0ea;
  --vp-c-brand-dark: #1a5fb4;
  --vp-c-brand-darker: #1c71d8;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

:root {
  /* Typography */
  --vp-font-family-base: 'Manrope', sans-serif;
  --vp-font-family-bages: 'Roboto', sans-serif
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #c061cb 30%, #62a0ea);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #c061cb 50%, #62a0ea 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
    --vp-nav-logo-height: 36px;
  }
}

/**
 * Custom block
 * -------------------------------------------------------------------------- */

.custom-block {
  border: 4px solid transparent;
}

:root {
  --vp-custom-block-info-border: var(--vp-c-blue-dimm-2);
  --vp-custom-block-info-bg: var(--vp-c-blue-dimm-1);
  --vp-custom-block-info-text: var(--vp-c-neutral);

  --vp-custom-block-tip-border: var(--vp-c-green-dimm-2);
  --vp-custom-block-tip-bg: var(--vp-c-green-dimm-1);
  --vp-custom-block-tip-text: var(--vp-c-neutral);

  --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-2);
  --vp-custom-block-warning-bg: var(--vp-c-yellow-dimm-1);
  --vp-custom-block-warning-text: var(--vp-c-neutral);

  --vp-custom-block-danger-border: var(--vp-c-red-dimm-2);
  --vp-custom-block-danger-bg: var(--vp-c-red-dimm-1);
  --vp-custom-block-danger-text: var(--vp-c-neutral);

  --vp-custom-block-details-border: var(--vp-c-divider);
  --vp-custom-block-details-bg: var(--vp-c-bg-soft-up);
}

/**
 * kdb
 * -------------------------------------------------------------------------- */

.vp-doc kbd {
  font-size: 0.8rem;
  border-radius: 4px;
  padding: 2px 6px;
  min-width: 24px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--vp-c-gray-soft);
  border: 1px solid rgba(128, 128, 128, 0.15);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  text-wrap: nowrap;
}

:root {
  --vp-nav-logo-height: 36px;
}

/**
 * task-lists
 * -------------------------------------------------------------------------- */

.vp-doc .contains-task-list {
  list-style: none;
  padding-left: 0;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * VPHomeSponsors
 * -------------------------------------------------------------------------- */

.vp-sponsor-grid.big .vp-sponsor-grid-image {
  max-width: 170px;
  max-height: 120px;
}

.VPHomeSponsors .message {
  max-width: 800px;
}

.VPHome .VPHomeSponsors {
  margin-top: 0 !important;
}

/*Dark theme btn Sponsors*/
.dark .vp-sponsor-grid-item:hover {
  background: var(--vp-c-brand-darker);
}

/**
 * implicitFigures
 * -------------------------------------------------------------------------- */
figure > figcaption {
  text-align: center;
  color: var(--vp-c-brand-lightest);
  font-size: 14px;
}

.avatar-developer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
}

.VPBadge {
  font-family: var(--vp-font-family-bages);
  letter-spacing: 0.0em;
  font-weight: 400;
  font-style: normal;
}

.VPBadge.success {
  border-color: transparent;
  color: var(--vp-c-success-1);
  background-color: var(--vp-c-success-soft);
}

.VPBadge.success-1 {
  border-color: transparent;
  color: var(--vp-c-white);
  background-color: var(--vp-c-success-2);
}

/**
 * Swiper
 * -------------------------------------------------------------------------- */

:root {
  --swiper-theme-color: var(--vp-c-brand-1);
}

@media (min-width: 960px) {
  .VPHomeHero .image-src {
    max-width: 350px;
    max-height: 350px;
  }
}

/**
 * Alignment Containers
 * -------------------------------------------------------------------------- */

.center {
  &.custom-block {
    text-align: center;
    padding: 0;
    img {
      margin: auto;
    }
  }
}

.half {
  &.custom-block {
    width: 50%;
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
}

.highlight {
  &.custom-block {
    text-align: left;
    color: var(--vp-c-brand-1);
    font-size: 1.2em;
    font-weight: 700;
    border-top: 4px dashed var(--vp-c-brand-soft);
    border-bottom: 4px dashed var(--vp-c-brand-soft);
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    p {
      margin: 0;
    }
  }
}

.left {
  &.custom-block {
    float: left;
    padding: 1em 2em;
    padding-left: 0;
    width: auto;
    text-align: center;
    max-width: 50%;
  }
}
.right {
  &.custom-block {
    float: right;
    padding: 1em 2em;
    width: auto;
    text-align: center;
    max-width: 50%;
  }
}

.vp-doc .custom-block img {
  border-radius: 10px;
}

/**
 * Component: GitChangeLog
 * -------------------------------------------------------------------------- */
 .bg-\$vp-custom-block-details-bg,
 .bg-vp-custom-block-details-bg {
   background-color: var(--vp-c-gray-3) !important;
 }
 
 .vp-nolebase-git-changelog-contributors a {
   text-decoration: none;
 }
 
 /**
  * Component: Page Properties
  * -------------------------------------------------------------------------- */
 .VPDocFooter[data-v-29ec59c0] {
   margin-top: 10px !important;
 }
 